<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <h1>Timestamp Microservice</h1>
    
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/2022-09-10">https://project-timestamp.iotardis.repl.co/api/2022-09-10</a></li>
        <li><a href="api/1661849116558">https://project-timestamp.iotardis.repl.co/api/1661849116558</a></li>
        <li><a href="api/">Empty</a></li>
      </ul>
      
      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1661849116558,"utc":"Tue, 30 Aug 2022 08:45:16 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>By <a href="https://github.com/ioTardis">ioTardis</a></p>
    </div>
  </body>
</html>
