/****** Main Styling ******/

html, body {
	font-family: 'Space Mono', monospace;
	font-size: 25px;
	color: #222;
	height: 100%;
	background-color: #FBE8A6;
	text-align: center;
	line-height: 1.4em;
	display: flex;
  	flex-direction: column;
  	gap: 30px;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
  font-size: 25px;
}

hr {
	margin: 25px;
}

.footer {
	padding: 15px;
  	margin-top: auto;
  	text-align: center;
  	flex-shrink: 0;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

.container a {
	color: #2574A9;
	font-size: 20px;
}

.container p {
	font-size: 20px;
}